img{
    cursor: pointer;
}
.walletLink{
    color:whitesmoke;
    font-weight:bold;
    cursor:pointer;
    text-decoration: none;
}
.contained{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.2);
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}
.walletWrapper{
    padding:0px 8px;
    margin-top: 16px;
}
.walletLink:hover{
    color:blue;
    text-decoration: none;
}
.contained:hover{
    border: 1px solid blue;
}
